@import 'tailwindcss';

:root {
	--warm-tone-2: #f3f2ed;
	--warm-tone-3: #ecebe9;
	--warm-tone-4: #cbc9bc;
	--graphite: #1a1817;
	--subdued: #666666;
	--light: #f6f6f6;
	--lime: #e1ff4d;
}

@theme {
	--color-warm-tone-2: var(--warm-tone-2);
	--color-warm-tone-3: var(--warm-tone-3);
	--color-warm-tone-4: var(--warm-tone-4);
	--color-graphite: var(--graphite);
	--color-subdued: var(--subdued);
	--color-light: var(--light);
	--color-lime: var(--lime);

	--list-style-type-dashed: '- ';
}

@layer base {
	ul {
		list-style-position: inside;
	}

	button {
		cursor: pointer;
		outline-color: currentColor;
	}

	a {
		outline-color: currentColor;
	}
}

body {
	outline-color: var(--graphite);
	color: var(--graphite);
	background: var(--warm-tone-2);
	font-family: var(--font-fh-oscar), Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}
